{% extends "base.html" %}

{% block content %}

<h4>Все объекты</h4>
<h1>Объекты</h1>
{% if current_user.is_authenticated %}
    <a href="addobj" class="btn btn-secondary">Добавить новый объект</a>
{% endif %}

<div>{{ message }}</div>


<div class="table">
    {% for item in prods%}
    <div class="cells">
        <div class="card" style="width: 18rem; height: 350px;">
            <h2 class="name_cells">{{ item.name }}</h2>
          <div class="card-body">
              <p class="car/d-text">Адрес: <b>{{item.address_text}}</b></p>
              <p class="car/d-text">Тип объекта: <b>{{item.object_type}}</b></p>
          </div>
          <div>
              <a href="/object_info/{{ item.id }}" class="btn btn-success">
                        Посмотреть
                    </a>
         {% if current_user.is_authenticated and (current_user.admin_status == 1)%}


                <a href="/object/{{ item.id }}" class="btn btn-warning">
                    Исправить
                </a>
            </div>
            {% endif %}

            </div>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}