{% extends "base.html" %}


{% block content %}
{{ message }}
<div class="container">
    <h1>{{ prods.name }}</h1><br>

    <h3> Адрес: {{ prods.address_text}} </h3><br>

    <h3> Вид: {{ prods.object_type}} </h3><br>
    {% if prods.photo %}
        <h3> Фото: <a href="{{prods.photo}}" target="_blank">{{prods.photo}}</a></h3><br>
    {% else %}
        <h3>Фото: отсутствует</h3>
    {% endif %}

    <h3> Категория значения: {{ prods.category}} </h3><br>
    {% if prods.unesco_status == 1 %}
        <h3> Является объектом ЮНЕСКО </h3><br>
    {% else %}
        <h3> Не является объектом ЮНЕСКО </h3><br>
    {% endif %}

    <h3>{{ prod.info }}</h3>
</div>


{% endblock %}