{% extends "base.html" %}

{% block content %}

<h4>Все объекты</h4>
<h1>Объекты</h1>
{% if current_user.is_authenticated %}
    <a href="addobj" class="btn btn-secondary">Добавить новый объект</a>
{% endif %}

<div>{{ message }}</div>


<div class="table">
    {% for item in prods%}
    <div class="cells">
        <div class="card" style="width: 18rem;">
            <h2>{{item.product}}</h2>
          <img class="card-img-top" src="static/img/{{ item.id }}.png" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">Цена: <b>{{item.price}}</b></p>
              <p class="card-text">Вес: <b>{{item.weight}}</b></p>
              <p class="card-text">Продаёт: <b>{{item.leader.name}} {{item.leader.surname}}</b></p>
          </div>
          <div>
         {% if current_user.is_authenticated and (current_user == item.leader)%}
            <div>
                <a href="/prod/{{ item.id }}" class="btn btn-warning">
                    Исправить
                </a>
                <a href="/prod_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}

                {% if current_user.is_authenticated and (current_user != item.leader)%}
                <div>
                    <a href="/prod_sell/{{ item.id }}" class="btn btn-success">
                        Купить
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}